body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c36;
    color: #ffffff;
  }
  
  .header {
    background-color: #1e222c;
    padding: 1em ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  .title h1 {
    margin: 0;
  }
  
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-right: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .nav a:hover {
    color: #61dafb;
  }
  
  .content {
    margin: 20px;
    padding: 20px;
    background-color: #2d323f;
    color: #ffffff;
  }
  
  .footer {
    background-color: #1e222c;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .empresassv-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .empresassv {
    width: 250px;
    background-color: #ffffff;
    color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .empresassv img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .empresassv h2 {
    margin: 10px 0;
    color: #333;
  }
  
  .empresassv p {
    font-size: 14px;
  }

  .emprendedores-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 100px 100px 100px;
  }
  
  .emprendedor {
    width: 300px;
    color: black;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .emprendedor img {
    max-width: 70%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .emprendedor h2 {
    margin: 10px 0;
    color: #333;
  }
  
  .emprendedor p {
    font-size: 14px;
  }